@page
@using PokeRepo.Models
@model PokeRepo.Pages.Gen1Model
@{
}


<div class=" text-center">
    <form method="post">
        <select>

        
        @foreach (var name in Enum.GetNames(typeof(Models.Gen1)))
        {

            <option value="@name"> 

            </option>
            <div>
               
                <a asp-action="OnPostAsync" asp-route-name="@name"><h1>@name</h1></a>
                <hr />
                <br />
            </div>
            
        }
        </select>
    </form>
    
    
</div>
