@page
@using PokeRepo.Models
@model PokeRepo.Pages.Gen1Model
@{
}


<div class=" text-center">
    <form method="post">
        

        
        @foreach (var name in Enum.GetNames(typeof(Models.Gen1)))
        {

            <input type="hidden" name="pokeName" value="@name" />
            <h2>@name</h2>


                <button>View</button>
            @* <div>
               
                <a asp-action="OnPostAsync" asp-route-name="@name"><h1>@name</h1></a>
                <hr />
                <br />
            </div>
             *@

             
        }
        
        
    </form>
    
    
</div>
