@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="first-page text-center">
        <img src="\Images\pokemons.jpg" />
    <a asp-page="Gen1" class="btn btn-primary" ><h1 class="display-4">View a gen one Pokemon</h1></a>



        <form>
            @foreach (var pokemon in @Model.pokes)
            {
                <div class="card">
                    <img src="{@pokemon.Image}" />
                    <input type"submit" value="{@pokemon.Name}" style="font-size:large" asp-for="@Model.selectedPoke" />

                </div>

            }
        </form>

    </div>


