@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">View a gen one Pokemon</h1>
    <div>
        <img src="@Model.Test.Sprites.Sprite"/>
    </div>
    <form class="d-flex justify-content-center" method="post" >
        <select class="form-select form-select-lg w-25 text-center" >
            @foreach (var name in Enum.GetNames(typeof(Models.Gen1)))
            {
                <option value="@name" >@name</option>
            }
        </select>
        <button class="btn btn-primary">View</button>
    </form>
</div>
